.header {
  top: 0;
  padding: 65px;
  text-align: center;
  background: #001e44;
  color: white;
  font-size: 30px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #001e44;
  color: white;
  text-align: center;
}



