.Test{
    background: darkblue;
    font-family: "Andale Mono";

}
.Test2{
    position: absolute;
    left: 100px;
    top: 150px;
}
.header{
    width: initial;
    height: 125px;
    background: blanchedalmond;
}

.footer{
    width: initial;

}

.logo{
    width:125px ;

}

