/* Them colors */
$them-blue: rgb(2,26,58);
$them-gold: rgb(214, 199,150);
$them-white: rgb(255, 255, 255);

/* Gradients */

$main-gradient: linear-gradient(90deg, rgb(2,26,58) 0%, rgb(214, 199,150) 35%)