/* Them colors */
$them-blue: #001e44;
$them-gold: rgb(214, 199,150);


/* Shadow colors */
$shadow-them: rgba(6, 10, 17, 0.6);

/* Colors */

$them-white: rgba(241, 213, 124, 0.98);
$neon-blue: #4666FF;
$metalic-gold: #FFDF00 ;
$black: rgb(0,0,0) ;
$grey: #808080 ;
